name: SyncGitee
on:
  - push
  - pull_request
jobs:
  sync:
    name: sync
    runs-on: ubuntu-latest
    steps:
      - name: sync map-charts
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/WumaCoder
          dst: gitee/WumaCoder
          dst_key: ${{ secrets.SSH_PRIVATE }}
          dst_token: ${{ secrets.GITEE_KEY }}
          white_list: "map-charts"
